*
{
    box-sizing: border-box;
}

body
{
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;

    font-size: 1.125rem;
}

.content
{
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
    gap: 1px;

    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
}

.content > *
{
    padding: 1rem;
    text-align: center;
}

.page-header
{
    background-color: #ffcdd2;
}

.page-nav
{
    background-color: #bbdefb;
}

.main
{
    background-color: #dcedc8;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main p
{
    width: 75ch;
}
.main .menu-element
{
    /* background-color: red; */
    gap: 20px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    width: 60%;
}
.main .card
{
    background-color: rgb(231, 210, 231);
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    border-radius: 8px;
}
.main .menu-element .card img
{
    border: 2px solid black;
    border-radius: 4px;
}
.main .menu-element .card p
{
    width: 60%;
}


.page-footer
{
    background-color: #ffecb3;
}