:root {
    --darkestblue: #0E2444;
    --darkblue: #112e5f;
    --midblue: #376EC0;
    --lighterblue: #7794DC;
    --lightestblue: #9BACE8;
}

*
{
    box-sizing: border-box;
    font-family: Helvetica, Tahoma, 'Courier New', Courier, monospace;
}

body
{
    background-color: var(--darkestblue);
    padding: 5px;
    height: 100vh;
    margin: 0;

    font-size: 1.125rem;
}

.content
{
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-rows: min-content min-content 1fr min-content;
}

.content > *
{
    padding: 1rem;
    text-align: center;
}

.page-header
{
    background-color: var(--darkblue);
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.33);
}

.page-nav
{
    background-color: var(--darkblue);
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.page-nav button
{
    font-size: 1.5rem;
    border: none;
    padding: 0.5rem;
    width: 25%;
    border-top-left-radius: 50vw;
    border-top-right-radius: 50vw;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.33);
    background-color: var(--lighterblue);

    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.33);
}
.page-nav button:hover
{
    filter: brightness(110%);
}
.page-nav button:active
{
    filter: brightness(130%);
}
.main
{
    background-color: var(--lighterblue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main p
{
    width: 75ch;
}
.main .menu-element
{
    gap: 20px;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    width: 60%;
}
.main .card
{
    background-color: var(--lightestblue);
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.33);
    border-radius: 8px;
}
.main .menu-element .card img
{
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.33);
}
.main .menu-element .card p
{
    width: 60%;
    max-width: 75ch;
    min-width: 45ch;
}


.page-footer
{
    background-color: var(--midblue);
    color: var(--lightestblue);
}